fastapi
uvicorn
pandas
ta-lib @ https://github.com/cgohlke/talib-build/releases/download/v0.6.4/ta_lib-0.6.4-cp313-cp313-win_amd64.whl
requests
python-dotenv
numpy
xgboost
scikit-learn
sqlalchemy
psycopg2-binary